@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&family=Playfair+Display:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;1,200&family=Nunito:wght@200;300&family=Playfair+Display:wght@400;500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    background-color: white;
    width: 100%;
    height: 100%;
}

.relative-header {
    padding: 0;
    margin: auto auto 30px auto;
    width: 100%;
    position: relative;
    max-height: 800px;
}

.container-fluid {
    padding: 0;
}

.img-fluid {
    width: 100%;
    height: 85%;
    position: relative;
}

.bg-pass {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
}

.main-child {
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    height: auto;
    margin: auto;
    padding: 15px;
}

.wrapper {
    height: 75%;
    width: 85%;
    margin: 0 auto;
}

.dot-svg {
    margin: 0;
    padding: 0;
    height: auto;
}

.dot-svg img {
    width: 20%;
    height: 600px;
    margin: 0;
    padding: 0
}

.left {
    margin: 15px auto;
    max-width: 100%;
    max-height: 300px;
}

.title-header-lg h1 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 85px;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.title-header-sm {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.btn-left {
    background: #393939;
    box-shadow: 0px 0px 20px rgba(218, 218, 218, 0.25);
    font-family: Nunito;
    font-style: normal;
    font-size: 24px;
    line-height: 33px;
    font-weight: bold;
    color: #FFCD61;
    width: 75%;
    height: 79px;
    border-radius: 10px;
}

.right {
    height: auto;
    margin: 80px auto;
    width: 100%;
}

.right-signup {
    height: auto;
    margin: 40px auto;
    width: 100%;
}

.form-group {
    color: white;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    margin: 15px auto 30px auto;
    float: left;
    height: auto;
    width: 100%;
}

.form-group input {
    color: white;
    height: 79px;
    text-decoration: none;
    font-size: 24px;
    line-height: 33px;
}

.forgot-password {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin: auto;
    /* padding-left: 40px; */
}

.form-control {
    margin: 15px auto;
    background: rgba(255, 255, 255, 0.26);
    border-radius: 10px;
    height: 79px;
}

.yellow-color {
    background: #FFCD61;
    box-shadow: 0px 0px 20px rgba(248, 161, 112, 0.47);
}

.btn-right {
    border-radius: 10px;
    width: 100%;
    height: 79px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bolder;
    font-size: 24px;
    line-height: 33px;
    color: #393939;
    margin: 15px auto;
}

.btn-wrapper a img {
    margin: 25px 5px;
    max-width: 5%;
    text-align: center;
    align-items: center;
}

.information {
    width: 90%;
    height: 390px;
    background: #F9F9FB;
    margin: auto;
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 38px;
    color: #848484;
}

.col_first-foo {
    height: 233px;
}

.foo-info {
    margin-bottom: 70px;
    max-width: 309px
}

.card-title img {
    width: 44px;
    height: 42.9px;
    margin-bottom: 25px;
}

.card-title {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 60px;
    color: #393939;
    mix-blend-mode: normal;
}

.list-group-item {
    border: none;
    padding: 5px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 38px;
    color: #848484;
}

footer {
    height: auto;
    margin-bottom: 20px;
    width: 100%;
}

.footer-bottom {
    width: 100%;
    height: 80px;
    margin: auto;
    display: inline-block;
    color: black;
    text-align: center;
}

.footer-bottom hr {
    width: 75%;
    margin: 10px auto 25px auto;
    height: 2px;
    border-top: 2px solid #848484;
}

.footer-bottom i {
    width: 1em;
    height: 1em;
    margin: auto 10px;
}

@media screen and (min-width:300px) and (max-width:779px) {
    .relative-header {
        height: 650px;
        margin-bottom: 30px;
    }
    .img-fluid {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .bg-pass {
        width: 100%;
        height: 100%;
    }
    .main-child {
        width: 100%;
        height: auto;
        padding: auto;
        margin: 0;
        top: 0;
        left: 0;
        align-items: center;
        text-align: center;
    }
    .dot-svg {
        height: auto;
        min-width: 300px;
        margin: auto;
        padding: auto
    }
    .dot-svg img {
        transform: rotate(90deg);
        height: 100px;
        width: 100%;
        margin: auto;
        padding: auto;
    }
    .wrapper {
        width: 75%;
        height: auto;
        margin: 15px auto;
    }
    .sm-dev {
        height: 650px;
    }
    .left {
        min-width: 300px;
        margin: auto;
        height: auto;
        padding: auto;
    }
    .btn {
        font-size: 12px;
        padding: 4px 6px;
        margin-top: 10px;
    }
    .left h1 {
        font-size: 32px;
        line-height: 30px;
        margin-bottom: 25px;
    }
    .left p {
        font-size: 14px;
        line-height: 23px;
        margin-bottom: 0;
    }
    .btn-left {
        font-size: 14px;
        line-height: 0;
        width: 200px;
        height: 39px;
    }
    .right {
        min-width: 300px;
        height: auto;
        margin: auto;
    }
    .right-signup {
        min-width: 300px;
        height: auto;
        margin: auto;
    }
    .btn-right {
        font-size: 14px;
        line-height: 0;
        width: 250px;
        height: 39px;
        /* margin-top: 5px; */
    }
    .form-group {
        margin-bottom: 0;
        height: auto;
        width: 250px;
        float: none;
    }
    .form-group input {
        width: 250px;
        height: 39px;
        font-size: 12px;
        line-height: 13px;
    }
    .forgot-password {
        font-size: 12px;
        line-height: 13px;
        height: 15px;
        width: 250px;
        padding: auto;
        margin: auto;
        text-align: left;
        align-items: left;
        float: left;
    }
    .form-control {
        margin: 7px auto;
        height: 39px;
    }
    .btn-wrapper a {
        margin-top: 0;
    }
    .btn-wrapper a img {
        margin: 7px 10px;
        width: 25px;
    }
    .information {
        width: 90%;
        height: auto;
        font-size: 12px;
        line-height: 12px;
    }
    .col-first-foo {
        height: auto;
        margin-top: 10px;
        margin-bottom: 0;
    }
    .foo-info {
        margin-bottom: 20px;
    }
    .card-title {
        font-size: 14px;
        line-height: 10px;
    }
    .list-group-item {
        padding: 5px;
        font-size: 12px;
        line-height: 10px;
    }
    .footer-bottom {
        height: 12px;
    }
    .foo-listing {
        margin: 5px auto;
    }
    .card-title img {
        width: 22px;
        height: 22px;
    }
}

@media screen and (min-width:780px) and (max-width:1200px) {
    .main-child {
        height: 600px;
        top: 20px;
    }
    .wrapper {
        height: 450px;
        margin: 0 auto;
        padding: 25px auto;
    }
    .dot-svg img {
        width: 35%;
        height: 55%;
        margin: 0;
        padding: 0
    }
    .left {
        margin: 0;
        float: left;
    }
    .left h1 {
        font-size: 38px;
        line-height: 45px;
        margin-bottom: 30px;
    }
    .left p {
        font-size: 14px;
        line-height: 18px;
    }
    .btn-left {
        font-size: 16px;
        width: 85%;
        height: 40px;
        line-height: 10px;
    }
    .right {
        margin-top: 20px;
    }
    .right-signup {
        margin-top: 20px;
    }
    .form-group {
        margin: auto;
    }
    .form-group input {
        height: 49px;
        font-size: 18px;
        line-height: 20px;
    }
    .forgot-password {
        font-size: 12px;
        line-height: 10px;
        margin-bottom: 10px;
    }
    .btn-right {
        margin: 5px auto;
        height: 49px;
        font-size: 18px;
        line-height: 20px;
    }
    .btn-wrapper a img {
        margin: 12px 5px;
        max-width: 5%;
    }
    /* footer */
    .information {
        width: 90%;
        height: 390px;
        font-size: 18px;
        line-height: 38px;
    }
    .col_first-foo {
        height: 233px;
    }
    .foo-info {
        margin-bottom: 30px;
    }
    .card-title img {
        width: 44px;
        height: 42.9px;
    }
    .card-title {
        font-size: 19px;
        line-height: 60px;
    }
    .list-group-item {
        font-size: 14px;
        line-height: 28px;
        color: #848484;
    }
    .footer-bottom {
        width: 100%;
        height: 80px;
    }
    .footer-bottom hr {
        width: 75%;
        margin: 10px auto;
        height: 2px;
    }
    .footer-bottom i {
        width: 0.5em;
        height: 0.5em;
        margin: auto 10px;
    }
}

.hr-home {
    width: 55px;
    border-top: 5px solid white;
    display: block;
    height: 10px;
    border-radius: 5px;
}

.btn-df {
    background: transparent;
}

nav {
    padding: 10px 50px;
    width: 100%;
    min-height: 100px;
}

.home-nav {
    height: 100px;
}

.nav-item {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.2em;
    color: #202336;
    margin-right: 10px;
    margin-bottom: 5px;
    /* btn margin nottom 789px */
}

.nav-item .btn-outline-warning {
    color: black;
    width: 132px;
}

.nav-item .btn-warning {
    color: black;
    width: 132px;
}

.navbar-light .navbar-toggler {
    border: 1px solid #FFCD61;
}

.navbar-brand {
    padding-left: 10px;
}

.navbar-collapse {
    justify-content: end;
}

.banner-content {
    height: 800px;
}

.bg-pass-home {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    padding-top: 69px;
    padding-left: 122px;
}

.main-child-home {
    position: relative;
    background-color: white;
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    margin: auto;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-wrapper {
    margin: 10px auto;
    font-family: Nunito;
    font-style: normal;
    color: #393939;
}

.btn-dropdown-group {
    margin-right: 10px;
    width: 220px;
    height: 52px;
    text-align: left;
    font-weight: bolder;
    font-size: 1.2em;
    /* line-height: 2em; */
}

.dropdown-span-icon {
    float: right;
}

.dropdown-toggle {
    background: rgba(255, 255, 255, 0.5);
    border: 0.8px solid #AFB0B9;
    box-sizing: border-box;
    border-radius: 6px;
}

.btn-explore {
    width: 180px;
    height: 60px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bolder;
    font-size: 1.2em;
    /* line-height: 2.5em; */
    margin-top: 47px;
}

.popular-section {
    height: 550px;
    padding: 10px 30px;
    display: inline-block;
    width: 100%;
}

.btn-next-viewAll {
    text-decoration: none;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    align-items: center;
    color: #FB8F1D;
    margin-top: 2%;
}

.popular-header {
    width: 80%;
    height: auto;
    margin: 50px auto 25px auto;
}

.popular-home-section {
    width: 80%;
    height: auto;
    margin: auto;
}

.vehicle-card {
    border: none;
    position: relative;
    width: 266px;
    height: 340px;
    margin: 15px auto;
}

.vehicle-card .card-body {
    margin: auto;
    position: absolute;
    bottom: 0px;
    background: #FFFFFF;
    border-radius: 0px 6px 0px 0px;
    width: 140px;
    height: 66px;
    padding: auto auto 0 auto;
}

.vehicle-card .card-body p {
    border: none;
    font-family: Nunito;
    font-style: normal;
    /* font-weight: 600; */
    color: #0c0b0b;
    margin: auto;
}

.card-img-top {
    width: 261px;
    border-radius: 8px;
    height: 337px;
    object-fit: cover;
}

.testimonial {
    height: auto;
    width: 70%;
    overflow-y: none;
    margin: 25px auto 100px auto;
    padding: auto;
}

.testimonial row {
    margin: auto;
    width: 80%;
}

.testimonial-rate-info {
    margin: 124px auto 50px auto;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #393939;
}

.testimonial-picture {
    width: 384px;
    height: 491px;
    border-radius: 8px;
}

.popular-section-view {
    height: auto;
    padding: 10px auto;
    width: 80%;
    margin: auto auto 50px auto;
}

.view-popular {
    width: 100%;
    height: auto;
    margin: 25px auto 150px auto;
}

.popular-section-view h1 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    color: #000000;
}

.popular-section-view p {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    align-items: center;
    text-align: center;
    color: #B8BECD;
}

.card-popular-spicing {
    margin: auto auto 55px auto;
}

.img-thumbnail {
    object-fit: contain;
    border-radius: 10px;
    border: none;
}

.card {
    border: none;
}

.vehicle-detail {
    width: 90%;
    margin: 50px auto;
    height: auto;
}

.vehicle-detail-container {
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 4px;
}

.grid-image {
    grid-column: 1 / span 4;
    grid-row: 1;
    margin: auto;
    object-fit: contain;
    border-radius: 10px;
    align-self: stretch;
}

.item2 {
    grid-row: 2;
    margin: auto;
}

.item3 {
    grid-row: 2;
    margin: auto;
}

.item4 {
    grid-row: 2;
    margin: auto;
}

.item5 {
    grid-row: 2;
    margin: auto;
}

.vehicle-preview {
    width: 150px;
    height: 150px;
    margin: auto;
}

.vehicle-detail-title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    align-items: center;
    color: #042521;
}

.vehicle-info-wrapper h2 {
    margin: 10px auto;
    padding: auto;
}

.city {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    align-items: center;
    color: #393939;
    margin: 10px auto;
    padding: auto;
}

.status-vehicle {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    align-items: center;
    color: #087E0D;
}

.payment-info {
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    align-items: center;
    color: #9B0A0A;
}

.vehicle-info-detail {
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    align-items: center;
    color: #393939;
}

.vehicle-info-detail p {
    margin: 0 auto 5px auto;
    padding: auto;
}

.price h4 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    text-align: right;
    color: #000000;
}

.btn-detail-bottom {
    width: 80%;
}

.btn-detail {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    align-items: center;
}

.btn-chatAdmin {
    background: #393939;
    box-shadow: 0px 0px 20px rgba(218, 218, 218, 0.25);
    font-family: Nunito;
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
    color: #FFCD61;
    width: 100%;
    height: 79px;
    margin: 10px auto;
    border-radius: 10px;
}

.btn-reservation {
    border-radius: 10px;
    width: 100%;
    height: 79px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bolder;
    font-size: 24px;
    line-height: 33px;
    color: #393939;
    margin: 10px auto;
}

.btn-liked {
    height: 79px;
    background: #393939;
    box-shadow: 0px 0px 20px rgba(218, 218, 218, 0.25);
    font-family: Nunito;
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
    color: #FFCD61;
    width: 50%;
    margin: 10px auto;
    border-radius: 10px;
}

.profile-section {
    width: 80%;
    height: auto;
    margin: 50px auto;
}

.profile-card {
    margin: auto;
    align-items: center;
    text-align: center;
}

.profile-pic {
    border: none;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin: auto;
}

.btn-edit-profile {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin: auto;
}

.profile-text {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    align-items: center;
    text-align: center;
    color: #B8BECD;
}

.radio-btn-profile {
    width: 100%;
}

.form-check .form-check-inline {
    width: 100px;
}

.profile-input {
    border-bottom: 1px solid black;
    height: 70px;
    margin-right: 20px;
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #9F9F9F;
}

.profile-save {
    background: #393939;
    box-shadow: 0px 0px 20px rgba(218, 218, 218, 0.25);
    font-family: Nunito;
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
    color: #FFCD61;
    width: 100%;
    height: 49px;
    margin: 10px auto;
    border-radius: 10px;
}

.profile-password {
    border-radius: 10px;
    width: 100%;
    height: 49px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bolder;
    font-size: 24px;
    line-height: 33px;
    color: #393939;
    margin: 10px auto;
}

.btn-cancel {
    height: 49px;
    color: #393939;
    box-shadow: 0px 0px 20px rgba(218, 218, 218, 0.25);
    font-family: Nunito;
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
    background: rgba(203, 203, 212, 0.27);
    width: 50%;
    margin: 10px auto;
    border-radius: 10px;
}

.btn-profile-bottom {
    width: 75%;
    margin: 25px auto;
}

.profile-title-heading {
    font-family: Nunito;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    color: #4F5665;
}


/* unusesable component */

.detail-carousel {
    width: 70%;
    height: 500px;
}


/* btn count */

.qty .count {
    color: #000;
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    padding: 0 2px;
    width: 75px;
    text-align: center;
}

.qty .plus {
    cursor: pointer;
    display: inline-block;
    color: black;
    width: 70px;
    height: 70px;
    font: 30px/1 Arial, sans-serif;
    text-align: center;
    border-radius: 10px;
}

.qty .minus {
    cursor: pointer;
    display: inline-block;
    color: black;
    width: 70px;
    height: 70px;
    font: 30px/1 Arial, sans-serif;
    text-align: center;
    border-radius: 10px;
    background-clip: padding-box;
}

.qty {
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.minus:hover {
    background-color: #f3f3f3 !important;
}

.plus:hover {
    background-color: #FFCD61 !important;
}

.container-fluid input {
    border: none;
    width: 2%;
}


/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:disabled {
    background-color: white;
} */


/* .popular-section-details {
    height: 10px auto;
    padding: 10px 30px;
    width: 85%;
    margin: 25px auto 150px auto;
} */


/* .grid-details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(4, 380px);
    column-gap: 10px;
    justify-items: center;
    row-gap: 25px;
    margin: 50px auto 100px auto;
} */


/* .grid-card {
    width: 225px;
    height: 360px;
}

.grid-card img {
    width: 241px;
    height: 332px;
    object-fit: contain;
} */